
<!DOCTYPE html>
<html ng-app="kitchensink">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    

    <title>Gazo! Templatizer</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/gazo.css" rel="stylesheet">
    <link href="fonts/brandon_light.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    <!-- Fabric.js CDN -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script>
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
	
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Templatizer</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Let's start</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" ng-controller="CanvasControls">

      <div class="main-title">
        <h1 class="hide">Templatizer!</h1>
        <!--<p>Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.</p>-->
		<p class="lead"></p>
		
		<div class="row">
		<div class="col-md-9">
			<div class="canvas-position" style="width:661px; margin-bottom:10px; border: 1px solid #eee; position:relative;">
			<canvas id="canvas" width="660" height="180"></canvas>
<!--
			<canvas id="canvaslower" width="659px" height="179px" style="border: 1px solid #eee;"></canvas>
			<canvas id="canvas" width="660px" height="180px" style=""></canvas>
-->
			</div>
		</div>
		
       <div class="col-md-3">
       <!--  Accordion nav -->
			<div id="accordion" class="panel-group text-left object-controls" object-buttons-enabled="getSelected()">
			
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			          1. Select layout type
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse">
			      <div class="panel-body">
			        <ul class="choose-type">
			        	<li><a href="" ng-click="addLayout1()">Single device</a></li>
			        	<li><a href="" >Two devices</a></li>
			        	<li><a href="">Split type</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			 
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			          2. Select OU screen
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      <div class="panel-body">
			        <ul class="choose-type">
			        	<li><a href="" ng-click="addImage1()">US</a></li>
			        	<li><a href="" ng-click="addImage2()">DE</a></li>
			        	<li><a href="" ng-click="addImage3()">IT</a></li>
			        	<li><a href="" ng-click="addImage4()">ES</a></li>
			        	<li><a href="" ng-click="addImage5()">CN</a></li>
			        	<li><a href="" ng-click="addImage6()">JP</a></li>
			        	<li><a href="" ng-click="clearscreen()">All Clear</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			          3. Edit/add text
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse">
			      <div class="panel-body">
					<p class="text-danger">Please select a text to edit.</p>				
					<button class="btn btn-default" ng-click="addText()">Add a new text</button>
						<div id="text-wrapper" ng-show="getText()">
						<textarea bind-value-to="text" class="form-control"></textarea>
						<div id="text-controls">
						  <label for="text-align" style="display:inline-block">Text align:</label>
						  <select id="text-align" class="btn-object-action form-control input-sm" bind-value-to="textAlign">
							<option>Left</option>
							<option>Center</option>
							<option>Right</option>
							<option>Justify</option>
						  </select>
						  <div>
							<label for="text-font-size">Font size:</label>
							<input type="range" value="" min="1" max="120" step="1" id="text-font-size" class="btn-object-action"
							  bind-value-to="fontSize">
						  </div>
						  <div>
							<label for="text-line-height">Line height:</label>
							<input type="range" value="" min="0" max="10" step="0.1" id="text-line-height" class="btn-object-action"
							  bind-value-to="lineHeight">
						  </div>
						</div>
						<div id="text-controls-additional">
						  <button type="button" class="btn btn-object-action btn-xs"
							ng-click="toggleBold()"
							ng-class="{'btn-inverse': isBold()}">
							Bold
						  </button>
						  <button type="button" class="btn btn-object-action btn-xs" id="text-cmd-italic"
							ng-click="toggleItalic()"
							ng-class="{'btn-inverse': isItalic()}">
							Italic
						  </button>
						  <button type="button" class="btn btn-object-action btn-xs" id="text-cmd-linethrough"
							ng-click="toggleLinethrough()"
							ng-class="{'btn-inverse': isLinethrough()}">
							Linethrough
						  </button>
						  
						  <button class="btn btn-default" ng-click="removeSelected()">Remove selected text</button>
						</div>
					
					  </div>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
			          Test Area
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse">
			      <div class="panel-body">
			        <ul class="choose-type">
			        	<li><a href="" id="add">add</a></li>
			        	<li><a href="" id="test">remove</a></li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  
			</div>
       	
			<div class="top-margin pull-right">
			<button class="btn btn-primary" ng-click="removeSelected()">Remove Selected Object</button> 
			<button class="btn btn-warning" ng-click="Reset()"><span class="glyphicon glyphicon-remove"></span> Reset</button>
			<button class="btn btn-success" ng-click="rasterize()"><span class="glyphicon glyphicon-ok"></span> Publish image</button>
			</div>
       	</div>
	  </div>
      </div>
    </div><!-- /.container -->


<script type="text/javascript">
  var kitchensink = { }; 
  var canvas = new fabric.Canvas('canvas');
</script>
<script>
(function() {
  fabric.util.addListener(fabric.window, 'load', function() {
    var canvas = this.__canvas || this.canvas,
        canvases = this.__canvases || this.canvases;

    canvas && canvas.calcOffset && canvas.calcOffset();

    if (canvases && canvases.length) {
      for (var i = 0, len = canvases.length; i < len; i++) {
        canvases[i].calcOffset();
      }
    }
  });
})();
</script>


<script src="angular-fabric/utils.js"></script>
<script src="angular-fabric/app_config.js"></script>
<script src="angular-fabric/controller.js"></script>








    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
